@import 'tailwindcss';
/* node_modules/@neondatabase/auth-ui/dist/tailwind.css */
@import '@neondatabase/auth-ui/tailwind';
@plugin 'daisyui';

/* Resolve conflict with NeonAuthUI and DaisyUI */
@layer neon-auth {
  * {
    border-color: revert-layer;
    outline-color: revert-layer;
  }
  body {
    color: revert-layer;
  }
}
.neon-auth-patch {
  * {
    border-color: var(--neon-border);
    outline-color: var(--neon-ring);
  }
  body {
    color: var(--neon-foreground);
  }
}
